// base
@import "compass";
@import "susy";
@import "partials/_reset.scss";
@import "partials/_mixin.scss";
@import "partials/_variables.scss";
@import "partials/_navigation.scss";
html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.row {
  @include clearfix;
}
body {
  @include reset;
  height: 100%;
  font-family: 'Merriweather';
  background: $pageBackground;
  @include container;
  -webkit-overflow-scrolling: touch;
  @include respond-to(64) {
    padding: 101px 0 0;
  }
}
.profile-pic {
  max-width: 160px;
  float: left;
  display: inline-block;
  border: 0;
  margin: 0 rhythm(1) rhythm(1) 0;
  cursor: pointer;
  border-radius: 50%;
  @include respond-to(21.875) {
      display: none;
  }
}
.personal-description-cont {
  @include clearfix
}
.sub-container-sidebar {
  @include span(2 of 3);
  margin: 0 auto;
  float: none;
  padding: rhythm(2) 0 rhythm(1);
  @include respond-to(64) {
    @include span(12 of 12);
    float: none;
    padding: rhythm(1) span(1);
  }
}
.page-container {
  @include span(9 of 12);
  float: right;
  @include respond-to(64) {
    @include span(12 of 12);
    padding: rhythm(1) 0;
  }
  @include respond-to(30) {
    padding: 0;
  }
}
.sub-container {
  &.work {
    @include clearfix
  }
  @include span(7 of 9);
  float: none;
  padding: rhythm(1) 0;
  margin: 0 auto;
  @include respond-to(30) {
    @include span(9 of 9);
    margin: 0 auto;
    padding: rhythm(0) span(.5);
    float: none;
  }
  .work-item {
    img {
      margin: 0 0 rhythm(1);
    }
    p span {
      background: #eee;
      color: $primaryTextColor;
      font-family: 'Source Code Pro';
    }
    @include span(4.3 of 9);
    background: $textPrimaryColor;
    padding: rhythm(1);
    box-shadow: 0 0 5px rgba(0,0,0,.155);
    &:nth-child(odd) {
      margin: 0 span(.25) span(.5) 0;
    }
    &:nth-child(even) {
      margin: 0 0 span(.5) span(.25);
    }
    @include respond-to(90) {
      @include span(9 of 9);
      &:nth-child(odd),
        &:nth-child(even) {
        margin: 0 0 span(.5) 0;
      }
    }
  }
}

h1 {
  @include adjust-font-size-to(36px,2);
  color: $primaryColor;
  font-weight: 700;
  margin: 0 0 rhythm(.5);
  br {
    @include respond-to-min(30) {
      display: none;
    }
  }
  @include respond-to(30) {
    @include adjust-font-size-to(26px,1.4);
    margin: rhythm(.5) 0;
  }
}
h2 {
  @include adjust-font-size-to(24px,1.4);
  color: $secondaryTextColor;
  font-weight: 700;
  margin: 0 0 rhythm(.5);
  @include respond-to(30) {
    @include adjust-font-size-to(18px,1.1);
  }
}
h3 {
  @include adjust-font-size-to(14px,1);
  font-weight: 700;
}
p,
li {
  @include adjust-font-size-to(16px,1.2);
  font-weight: 400;
  @include respond-to(30) {
    @include adjust-font-size-to(14px,1);
  }
  code {
    background: #eee;
    padding: 0 5px;
    font-family: 'Source Code Pro';
  }
}

ul li p {
  @include adjust-font-size-to(16px,1.2);
  @include respond-to(30) {
    @include adjust-font-size-to(16px,1.2);
  }
}
pre,
code {
  font-family: 'Source Code Pro' !important;
}
a,
a:visited,
a:active {
  color: $primaryColor;
  text-decoration: none;
}
a:hover {
  color: $darkPrimaryColor;
  text-decoration: underline;
}
blockquote {
  background: $pageBackground;
  margin: 0;
  padding: rhythm(2);
  border-left: 5px solid darken($pageBackground,20%);
  @include adjust-font-size-to(16px,1.2);
  font-style:italic;
}
@import "partials/_social-icons.scss";
.footer {
  z-index: 100;
  @include span(3 of 12);
  position: fixed;
  bottom: 0;
  left: 0;
  background: $darkPrimaryColor;
  color: $textPrimaryColor;
  @include adjust-font-size-to(13px,1);
  text-align: left;
  .sub-container-sidebar {
    @include span(3 of 3);
    padding: 0 span(1) span(1);
  }
  @include respond-to(64) {
    @include span(12 of 12);
    padding: rhythm(1) 0;
    position: static;
  }
  a,
  a:visited,
  a:hover {
    color: $textPrimaryColor;
    text-decoration: underline;
  }
}
.site-info {
  @include respond-to(64) {
    @include span(12 of 12);
    text-align: center;
  }
}
.footer-sep {
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(255,255,255,.1);
  border-left: 0;
  border-right: 0;
  width: 100%;
  margin: rhythm(1) 0;
  display: inline-block;
  @include respond-to(64) {
    margin: rhythm(1) 0 0;
  }
}
#twitter-feed {
  @include clearfix;
  img {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: auto;
  }
  h1,
  .twitter-pic,
  .tweetprofilelink {
    display: none;
  }
  .twitter-text {
    padding: 0 10px;
    @media (max-width: 48em) {
      padding: 0;
    }
  }
  .twitter-article {
    margin: 0;
    float: left;
    width: 33.3333%;
    @include respond-to(48) {
      float: none;
      margin-bottom: rhythm(1);
      width: 100%;
    }
  }
}
#instafeed {
  @include clearfix;
  a,
  a:visited,
  a:active {
    color: $secondaryTextColor !important;
    &:hover {
      text-decoration: none;
    }
  }
}
.insta-wrapper {
  width: 33.33333%;
  float: left;
  position: relative;
  padding: 0 10px;
  @include respond-to(48) {
    width: 100%;
    float: none;
    padding: 0;
  }
  img {
    border-radius: 5px;
  }
  p {
    margin: 0;
    padding: rhythm(1) 0;
    width: 100%;
    @include adjust-font-size-to(12px);
    span {
      font-weight: bold;
      @include adjust-font-size-to(22px);
      display: block;
    }
  }
}
img {
  width: 100%;
  border: 0;
  vertical-align: bottom;
  &.romaradio-img {
    background: #A62038;
    padding: 10px;
  }
}
.now-playing {
  span {
    color: $secondaryTextColor;
    @include adjust-font-size-to(12px,1.5);
    display: block;
  }
}
/*
* easily control equalizer width, height and * color with the following variables
*
*/
$eq-w: 15px;
$eq-h: 15px;
$bar-w: $eq-w/5;
$bar-bg: lighten($secondaryTextColor,25%);
@keyframes equalizer {
  0% {
    height: $eq-h;
  }
  50% {
    height: $eq-h/2;
  }
  100% {
    height: $eq-h;
  }
}
.eq-container {
  position: relative;
  display: inline-block;
  width: $eq-w;
  height: $eq-h;
  margin: 0 5px;
  .bar {
    position: absolute;
    bottom: 0;
    width: $bar-w;
    height: $eq-h;
    background: $bar-bg;
    &.left {
      left: 0;
      animation: equalizer 0.5s infinite cubic-bezier(0.19, 1, 0.22, 1);
    }
    &.center {
      left: 50%;
      margin-left: -($bar-w)/2;
      animation: equalizer 0.7s infinite cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
    }
    &.right {
      right: 0;
      animation: equalizer 0.4s infinite ease-in 0.2s;
    }
  }
}
@import "partials/_blog.scss";
@import "partials/_prism.scss";
@import "partials/_cookie.scss";
