<p class="sharethis">Share this:</p>
<div class="social-cont">

  <div class="social-box facebook">
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"> <i class="fa social-ico fa-facebook"> </i> </a>
  </div>

  <div class="social-box twitter">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"> <i class="fa social-ico fa-twitter"> </i> </a>
  </div>

  <div class="social-box linkedin">
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source={{ site.url }}" target="_blank"> <i class="fa social-ico fa-linkedin"> </i> </a>
  </div>
<div class="social-box gplus">
  <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa social-ico fa-google-plus"> </i></a>
</div>
</div>
