/* main navigation */
.this-sidebar {
  @include span(3 of 12);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: $darkPrimaryColor;
  color: $textPrimaryColor;
  z-index: 100;
  #bars {
    display: none;
  }
  @include respond-to(64) {
    @include span(12 of 12);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    height: auto;
    #bars {
      display: block;
      padding: 10px 20px;
      right: 0;
      top: 20px;
      position: absolute;
      cursor:pointer;
      @include adjust-font-size-to(24px);
    }
  }
}
.name {
  @include adjust-font-size-to(18px,1.2);
  font-weight: 700;
}
.job {
  color: $lightPrimaryColor;
}
nav {
  @include clearfix;
  @include respond-to(64) {
    display: none;
    &.mobile-menu-visible {
      display: block;
    }
  }
  ul {
    @include reset;
    @include clearfix;
    overflow: auto;
    @include respond-to(64) {
      height: auto !important;
    }
    li {
      @include reset;
      list-style: none;
      border-bottom: 1px solid rgba(0,0,0,.1);
      border-top: 1px solid rgba(255,255,255,.1);
      @include clearfix;
      &:hover {
        background: $primaryColor;
        color: $darkPrimaryColor;
        border-bottom: 1px solid $primaryColor;
        border-top: 1px solid $primaryColor;
      }
      &:first-child {
        border-top: 0;
      }
      &:last-child {
        box-shadow: 0 1px 0 rgba(255,255,255,.1);
      }
      a,
      a:visited,
      a:active {
        @include span(2 of 3);
        padding: rhythm(.5) 0;
        float: none;
        margin: 0 auto;
        @include adjust-font-size-to(18px,1.2);
        display: block;
        text-decoration: none;
        color: $textPrimaryColor;
        font-family: 'Source Code Pro';
        @include respond-to(64) {
          @include span(3 of 3);
          padding: rhythm(.5) span(1);
        }
        &:hover {
          color: $textPrimaryColor;
          text-decoration: none;
        }
        i {
          padding: 0 10px 0 0;
        }
      }
    }
  }
}
//nav
.menu-placeholder {
  @include respond-to-min(64) {
    height: auto!important;
  }
}
// headroom
.headroom {
  @include respond-to(64) {
    transition: transform 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    &.headroom--unpinned {
      transform: translateY(-100%);
      transition: transform 250ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    }
    &.headroom--pinned {
      transform: translateY(0);
    }
  }
  //mediaquery mobile
}
//headroom
