---
layout: default
---
<div class="page-container">
	<div class="sub-container blog">
		{% for post in paginator.posts %}
		<div class="entry">

			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>

				<span class="date"><i class="fa fa-clock-o"></i> {{ post.date | date: '%B %d, %Y'}}</span>

			{{ post.excerpt }}
			<a class="more-link" href="{{ post.url }}">continue reading <i class="fa fa-chevron-right"></i></a>

		</div>
		{% endfor %}

		<div class="pagination">
			<ul>
				{% if paginator.previous_page %} {% if paginator.previous_page == 1 %}
				<li>
					<a href="/blog/">Prev</a>
				</li>
				{% else %}
				<li>
					<a href="/blog/{{ paginator.previous_page }}">Prev</a>
				</li>
				{% endif %} {% else %}
				<li>
					<span class="disabled">Prev</span>
				</li>
				{% endif %} {% if paginator.page == 1 %}
				<li>
					<span class="active">1</span>
				</li>
				{% else %}
				<li>
					<a href="/blog/">1</a>
				</li>
				{% endif %} {% for count in (2..paginator.total_pages) %} {% if count == paginator.page %}
				<li>
					<span class="active">{{ count }}</span>
				</li>
				{% else %}
				<li>
					<a href="/blog/{{ count }}">{{ count }}</a>
				</li>
				{% endif %} {% endfor %} {% if paginator.next_page %}
				<li>
					<a href="/blog/{{ paginator.next_page }}">Next</a>
				</li>
				{% else %}
				<li>
					<span class="disabled">Next</span>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
