{% include header.html %}

<div class="page-container">
	<div class="sub-container blog blog-post">
		<div class="entry">
			<h1>{{page.title}}</h1>
			<span class="date"><i class="fa fa-clock-o"></i> {{ page.date | date: "%m-%d-%Y"}}</span>
		{{ content }}
		{% include share.html %}
		<a href="#" onclick="window.history.back()">Back</a>
		</div>
	</div>
</div>

{% include footer.html %}
{% include scripts.html %}
{% include document_end.html %}
<!-- <p class="muted">{{ page.date }}</p> -->
<!-- {% include sidebar.html %}	-->
